/SpeakerIdentification/experiment/logs/
/SpeakerIdentification/experiment/recordings/
/SpeakerIdentification/experiment/data/
/OverlapDetection/experiment/logs/
/OverlapDetection/experiment/recordings/

/venv/
/.idea/

Ambient_Noise.wav
experiment_feature.npz
speaker_id_dict.json
.DS_Store

__pycache__/
